
body{
  background: linear-gradient(to bottom, rgba(140,122,122,1) 0%, rgba(175,135,124,1) 65%, rgba(175,135,124,1) 100%) fixed;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif
  color: #9E9E9E;
  margin: 0;
  padding: 0;
}


.cabecera{
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 100px;
  width: 80%;
  height: 80px;
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10px;
  padding-top: 10px;
  background: #eee;
  border: solid 1px #dce3e5;
  justify-content: space-between;
}

.imagen{
  height: 80px;
  width: 80px;
  vertical-align: bottom;
}

.botonera_chica{
  display: inline;
  position: relative;
  text-align: right;
  width: 30%;
  height: 300px;
}

.menu_text{
  display: inline;
  margin-right: 5px;
}
.imagen_botonera{
  height: 55px;
  width: 55px;
  margin: 12.5px 0 12.5px 0;

  border: 1px solid #ccd3d5;
  border-radius: 8px;
  vertical-align: middle;
}

.footer{
 font-family: Arial;
 position: static;
 left: 0;
 bottom: 0;
 display: block;
 width: 100%;
 background-color: #FFE062;
 color: black;
}

.dropdown{
  text-align: center;
  display: block;
  opacity: 0;

  height: 200px;
  width: 100%;
  margin-top: 20px;
  color: white;

  background: #e4ac2b;
  border: 1px solid #ccd3d5;
  border-radius: 8px 0px 0px 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  transition: opacity 0.2s linear;
}

.contenedor_opciones{
  padding: 0;
}

.opcion{
  margin: 0;
  display: inline-block;
  width: 100%;
  height: 40px;
  vertical-align: middle;
}

.ref{
  color: white;
  text-decoration: none;
}

.opcion:hover{
  opacity: 0.5;
}
